@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";
* {
	font-family: "Roboto Slab", serif;
}

.page-content {
  margin-top: 80px;
}

body {
  background-color: #E6E2DD;
}